@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap");
@import "tailwindcss";

:root {
  --color-primary: #6C0443;
  --color-border: #DFE2E6;
  --color-input: #F5F6F7;
}

@font-face {
  font-family: "General Sans Variable";
  src: url("https://db.onlinewebfonts.com/t/7b7a625024c0f39cbca2cf9674f51d94.eot");
  src: url("https://db.onlinewebfonts.com/t/7b7a625024c0f39cbca2cf9674f51d94.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/7b7a625024c0f39cbca2cf9674f51d94.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/7b7a625024c0f39cbca2cf9674f51d94.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/7b7a625024c0f39cbca2cf9674f51d94.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/7b7a625024c0f39cbca2cf9674f51d94.svg#General Sans Variable")format("svg");
}

@font-face {
  font-family: "Clash Display Variable";
  src: url("https://db.onlinewebfonts.com/t/2fcd723a1a012506da3928146b19364d.eot");
  src: url("https://db.onlinewebfonts.com/t/2fcd723a1a012506da3928146b19364d.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/2fcd723a1a012506da3928146b19364d.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/2fcd723a1a012506da3928146b19364d.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/2fcd723a1a012506da3928146b19364d.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/2fcd723a1a012506da3928146b19364d.svg#Clash Display Variable")format("svg");
}

@font-face {
  font-family: "Silka";
  src: url("https://db.onlinewebfonts.com/t/314799d808058420a00fdd2500eb1aa3.eot");
  src: url("https://db.onlinewebfonts.com/t/314799d808058420a00fdd2500eb1aa3.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/314799d808058420a00fdd2500eb1aa3.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/314799d808058420a00fdd2500eb1aa3.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/314799d808058420a00fdd2500eb1aa3.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/314799d808058420a00fdd2500eb1aa3.svg#Silka")format("svg");
}

@font-face {
  font-family: 'Blauer Nue';
  src: url('/fonts/Blauer-Nue.otf') format('opentype');
}

.blauerNew {
  font-family: 'Blauer Nue' !important;
}

.silka {
  font-family: 'Silka' !important;
}

body {
  font-family: "General Sans Variable", sans-serif;
}


@keyframes scaleIn {
  0% {
    transform: scale(0.9) translate(-50%, -50%);
    opacity: 0;
  }

  100% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
}

.animate-scaleIn {
  animation: scaleIn 0.25s ease-out;
}

.clashDisplay {
  font-family: 'Clash Display Variable', sans-serif !important;

}

.gradient-text {
  text-align: center;
  font-family: 'Clash Display Variable', sans-serif !important;
  font-weight: 700;

  line-height: 110%;
  letter-spacing: 0%;
  background: linear-gradient(93.35deg, #FFFFFF 17.83%, #A5C5DD 80.08%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.gradient-button-purple {

  background: linear-gradient(214.18deg, rgba(105, 63, 255, 0.99) 20.22%, #C02EE5 77.53%);

}


@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.marquee-text {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}

.org {
  background: #ffffff;
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(230, 230, 230, 0.477) 50%, rgba(255, 255, 255, 1) 100%);

}


.bg-linear-pink {
  --background: linear-gradient(90.66deg, #FCC3FF 0%, #F75EFF 100%);
  background: var(--background);
}


.courses-bg {
  background: linear-gradient(180deg,
      rgba(249, 196, 254, 0) 0%,
      rgba(252, 221, 255, 0.5) 44.34%,
      rgba(249, 196, 254, 0) 100%);
}


.indigo-linear-bg {
  background: linear-gradient(214.18deg, #2A0019 20.22%, #5C0639 77.53%);
}

.course-card-bg {
  background: linear-gradient(270.28deg, rgba(42, 0, 25, 0.46) 29.3%, #4C002D 98.92%);

}

.trusted-by-bg {
  background: linear-gradient(180deg, #2A0019 0%, rgba(60, 76, 90, 0.83) 100%);

}

.footer-bg {
  background: linear-gradient(180deg, #251621 0%, #42233A 100%);

}

.alexadnria {
  font-family: "Alexandria", sans-serif;

}

.footer-logo-text {
  background: linear-gradient(90deg, #8A7384 28.67%, #CAC3C3 46.17%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-size: clamp(2rem, 18vw, 25rem);
 
}


.tools-linear-card {
background: #4D5D69;
background: linear-gradient(90deg,rgba(77, 93, 105, 1) 0%, rgba(161, 106, 107, 1) 100%);

}

.tools-card-shadow{
  box-shadow: 0px 62px 136px 0px #0000001A;

}

.essential-tools-button{
  background: linear-gradient(90deg, #BCB3A0 0%, #E0D8C9 100%);

}

.enterprise-plan {
  background: radial-gradient(50% 50% at 50% 50%, #FBFD89 24%, #FFD900 87%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-weight: 700; 
}


.loader {
  width: 40px;
  height: 40px;
  border: 4px solid #ddd;
  border-top-color: #6C0443;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
